/*
 Using the CSS pseudo-class :root (represent the <html> element and is identical
 to the selector html, except that its specificity is higher) for declaring global CSS Variables
*/
:root {
    /* Declaring CSS global color values */
    --clr-primary-pale-blue : hsl(225, 100%, 94%);
    --clr-primary-bright-blue : hsl(245, 75%, 52%);
    --clr-neutral-very-pale-blue : hsl(225, 100%, 98%);
    --clr-neutral-desatured-blue : hsl(224, 23%, 55%);
    --clr-neutral-dark-blue : hsl(223, 47%, 23%);

    /*Declaring CSS global font values */
    --font-family : 'Red Hat Display', sans-serif;
    --font-size : 16px;
    --font-weight-small : 500;
    --font-weight-regular : 700;
    --font-weight-bold : 900;
}

/*
Remove default padding and margin and use the more intuitive box modell.
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Set up background and center .container using flexbox modell.
*/
body {
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--clr-neutral-very-pale-blue);

    display: flex;
    justify-content: center;    /* vertically */
    align-items: center;        /* horizontally */
    height: 100vh;              /* 100vh = 100% of viewport height */
}

/*

*/
.container {
    background-color: white;
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 50%;
    gap: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "picture picture picture"
        "summary summary summary"
        "buttons buttons buttons";
}

.container > img:first-child {
    grid-area: picture;
    justify-self: stretch;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.summary {
    grid-area: summary;
    font-family: var(--font-family);
}
.summary > h1 {
    text-align: center;
    font-weight: var(--font-weight-regular);
}

.summary > p {
    padding: 1em 2em;
    text-align: center;
    color: var(--clr-neutral-desatured-blue);
}

.plan-summary {
    margin: 1em 2em;
    padding: 1em 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr-neutral-very-pale-blue);
}

.plan-summary > a {
    color: var(--clr-primary-bright-blue);
}

.plan-summary > div > p {
    color : var(--clr-neutral-desatured-blue);
    padding-top: 0.5em;
}

.buttons {
    grid-area: buttons;
    margin: 1em 2em;
}

.button-1 {
    font-weight: var(--font-weight-bold);
    color: white;
    background-color: var(--clr-primary-bright-blue);
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: var(--font-size)
}

.button-2 {
    background-color: white;
    font-weight: var(--font-weight-bold);
    color: var(--clr-neutral-desatured-blue);
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    border: none;
    font-size: var(--font-size);
}

.button-2:hover {
    color: black;
}



.edgedCorners {
    border-radius: 15px;
}

.attribution {
    position: absolute;
    bottom: 0;
    margin: auto;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 576px) {
    body {
        background-image: none;
        background-color: var(--clr-neutral-very-pale-blue);
    }
}